ul {
	color: white;
	font-size: 18px;
}

.well p {
	color: black;
}

.code-header {
	float: left;
	background: #999999;
	color: white;
	width: 100%;
	padding: 2px 2px 2px 10px;
	border-radius: 4px 4px 0 0;
	border: 1px solid #888;
}

.info-bar {
	margin: 5px 0px;
}

.info-list {
	list-style-type: none;
	color: white;
	font-size: 11px;
	padding: 0px;
}

.info-list li {
	display: inline;
}

.info-list li + li:before{
    content: " | ";
    padding: 0 10px;
}

.info-list a {
	color: white;
}

.info-list a:hover {
	color: yellow;
}

.info-box {
	border: 1px solid #888;
}

.info-box p {
	padding: 0px 0px 0px 15px;
}

.code-callout:hover {
	background: yellow;
}

.spacer {
	margin: 25px 0px;
}

/* reset for bootstrap prettyprint */
pre.prettyprint {
	margin-bottom: 0px;
}
