h5 {
	font-weight: bold;
}

a {
	color: #6A5ACD; /* slateblue */
}

#introduction h1 {
	color: white;
}

#introduction ul {
	color: white;
	font-size: 18px;
}

#betterlink-site-nav .active > a, #betterlink-site-nav .active > a:hover, #betterlink-site-nav .active > a:focus {
	background-color: #00008B; /* darkblue */
	color: white;
}

.navbar-nav > li > .dropdown-menu { /* only display on desktop size; allow mobile media query to override */
	background-color: #f5f5f5;
}

/* Styles influenced by Bootswatch 'Readable' */
#information-page {
	background-color: #f9f9f9;
	font-size: 16px;
}

hr {
	border-top: 1px solid #d8d8d8;
}

h3 {
	font-size: 26px;
}

.navbar {
	font-size: 16px;
}

.navbar-brand {
	font-size: 20px;
}
/* Styles influenced by Bootswatch 'Readable' */

.code-header {
	float: left;
	background: #767676;
	color: white;
	width: 100%;
	padding: 2px 2px 2px 10px;
	border-radius: 4px 4px 0 0;
	border: 1px solid #888;
}

.content-tbd {
	display: none !important;
}

.info-bar {
	margin: 5px 0px;
}

/* 'info-list' of FAQ links */

.info-list {
	list-style-type: none;
	color: white;
	font-size: 11px;
	padding: 0;
}

	.info-list > li {
		display: inline;
	}

	.info-list li + li:before{
	    content: " | ";
	    padding: 0 10px;
	}

	.info-list > li > a {
		color: white;
	}

	.info-list > li > a:hover {
		color: yellow;
	}

	/* styles for selected tab links */
	.info-list .active > a:hover, .info-list .active > a:focus {
		color: white;
		text-decoration: none;
		cursor: default;
	}

	.info-list .active > a:before {
		content: '\2022';
		padding-right: 2px;
	}

/* ********************************** */
/* 'info-box' containing answers to FAQs */

.info-box {
	border: 1px solid #888;
	border-radius: 0 0 4px 4px;
	min-height: 240px;
	height: inherit;
	overflow: hidden;
	padding: 0px 10px 5px 10px;
	margin-bottom: 0;
	background-color: #f5f5f5;
}

.info-box p {
	color: black;
}

	.info-item > h2, .info-item > p, .info-item > ol {
		margin-bottom: 8px
	}

	.info-item > h2 {
		font-size: 18px;
		margin-top: 10px;
	}

	.info-item > h3 {
		font-size: 18px;
		padding: 0px 0px 0px 15px;
	}

	.info-item > p {
		padding: 0px 0px 0px 15px;
	}

	.info-item > .prettyprint, .info-item > .prettyprinted {
		border: 0;
		padding: 0;
	}

	.info-item .well-sm {
		margin: 0 15px 7px 15px;
	}

/* ********************************** */

.message-block {
	background-color: #FAFAD2; /* lightgoldenrodyellow */
	margin-bottom: 10px;
	padding-bottom: 4px;
}

.message-block code {
	background-color: #FAFAD2;
}

.code-callout:hover {
	background: yellow;
}

.spacer {
	margin: 25px 0px;
}

.super-spacer {
	margin: 75px 0px;
}

/* reset for bootstrap prettyprint */
.prettyprint {
	margin-bottom: 0px;
}

/* ********************************** */
/* Documentation CSS */
.demo-link {
	font-weight: bold;
	color: #00008B; /* darkblue */
}

.documentation-index {
	margin-top: 20px;
	margin-bottom: 0;
}

	.documentation-index > ul > .active {
		color: #999;
	}

.detailed-description {
	padding-left: 20px;
}
