ul {
	color: white;
	font-size: 18px;
}

.well p {
	color: black;
}

/* ********************************** */

.tab-content p {
	color: black;
}

.info-box {
	height: 237px;
	overflow: auto;
	padding: 0px 10px;
	margin-bottom: 0;
	background-color: #f5f5f5;
}

.info-box pre.prettyprint {
	border: 0;
}

.info-box pre.prettyprinted {
	border: 0;
	padding: 0;
}

.info-list {
	border: 0;
}

.info-list li.active > a:hover {
	color: white;
	text-decoration: none;
	cursor: default;
}

.info-list li.active > a:before {
	content: '\2022';
	padding-right: 2px;
}

/* ********************************** */

.code-header {
	float: left;
	background: #767676;
	color: white;
	width: 100%;
	padding: 2px 2px 2px 10px;
	border-radius: 4px 4px 0 0;
	border: 1px solid #888;
}

.info-bar {
	margin: 5px 0px;
}

/* 'info-list' of FAQ links*/

.info-list {
	list-style-type: none;
	color: white;
	font-size: 11px;
	padding: 0px;
}

.info-list li {
	display: inline;
}

.info-list li + li:before{
    content: " | ";
    padding: 0 10px;
}

.info-list a {
	color: white;
}

.info-list a:hover {
	color: yellow;
}

/* 'info-box' containing answers to FAQs */

.info-box {
	border: 1px solid #888;
}

.info-box h2 {
	font-size: 18px;
	margin-top: 10px;
}

.info-box h3 {
	font-size: 18px;
	padding: 0px 0px 0px 15px;
}

.info-box p {
	padding: 0px 0px 0px 15px;
}

.info-box .well-sm {
	background-color: lightgoldenrodyellow;
	margin: 0px 15px;
	padding-bottom: 4px;
}

.info-box .well-sm code {
	background-color: lightgoldenrodyellow;
}

/* ********************************** */

.code-callout:hover {
	background: yellow;
}

.spacer {
	margin: 25px 0px;
}

/* reset for bootstrap prettyprint */
pre.prettyprint {
	margin-bottom: 0px;
}
